body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: slategray;
}

header {
    margin: 40px 0px;
    width: 901px;
    display: flex;
    justify-content: space-between;
}

.header-text, .posted-date, .print, .share-recipe-button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: rgb(59, 56, 56);
}

.header-title {
    font-family: 'Pacifico', cursive;
    color: rgb(59, 56, 56);
}

h2 {
    margin: 0px;
    padding: 0px;
}

.header-text {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

#header-text-box {
    height: 50px;
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.semi-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#main-img {
    margin: 30px 0px;
}

.print-button {
    display: inline;
}

#logo {
    width: 50px;
    height: 50px;
}

#left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right-header {
    float: right;
    padding: 10px;
}

main {
    width: 901px;
}

footer {
    width: 901px;
}

.line-bar{
    margin: 40px 0px;
    height: 20px;
    background: repeating-linear-gradient(
     45deg,
     transparent, 
     transparent , 
     #979797 5px,
     #979797 5px
    );
}

#recipe{
    background-image: url(../assets/list-bg.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 901px;
    font-family: cursive ;
    font-size: 20px;
    height: 250px;
}

.instructions{
    font-size:18px;
    font-family: Georgia, Times, serif;
    text-indent: 40px;
    text-transform: none;
    margin: 30px 0px;
}

.checked {
    text-decoration: line-through;
}

.semi-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: none;
    font-family: Georgia, Times, serif;
}