body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 40px 0px;
    width: 901px;
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.header-text {
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

#header-text-box {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#logo {
    width: 50px;
    height: 50px;
}

#left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right-header {
    float: right;
    padding: 10px;
}

main {
    width: 901px;
}

footer {
    width: 901px;
}
.line-bar{
    margin: 40px 0px;
    height: 20px;
    background: repeating-linear-gradient(
     45deg,
     transparent, 
     transparent , 
     #979797 5px,
     #979797 5px
    );
}
#recipe{
    background-image: url(../assets/list-bg.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 901px;
    font-family: cursive ;
    font-size: 20px;
    height: 250px;


    

}
.instructions{
    font-size:18px;
    font-family: Georgia, Times, serif;
    text-indent: 40px;
    
}